html .PCR-P02-BodyDiv {
  height: 100vh;
  background-color: #edfafd;
  display: flex;
  align-items: center;
}
html .PCR-P02-Main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
html .PCR-P02-Main h1 {
  font-size: 4.7rem;
}
html .PCR-P02-Main span {
  font-size: 6rem;
}
html .btnP2 {
  font-size: 2rem;
  border: 2px solid black;
  margin: 5px;
}
