#PerfumeImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 106%;
}
#QRCodeImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 106%;
}
#NFTImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 106%;
}
