* {
margin: 0;
padding: 0;
box-sizing: border-box; 
}
html {
  font-size: 62.5%;
}
html a {
  text-decoration: none;
}
html .bodyDiv {
  min-height: 100vh;
  background-color: #201F24;
  display: flex;
  flex-direction: column;
}
html .container-fluid {
  padding: 0;
}


/*########## HEADER CSS ##########*/
html #headerId {
  background-color: #121214;
  height: auto;
  width: 95%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 1px 10px black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
@media (min-width: 768px){
html #headerId {
  border-radius: 0;
  width: 100%;
}
}
#sapoImg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2.5px solid #4664e8;
  background-size: cover;
  background-position: center;
}

/*########## MAIN CSS ##########*/
#mainId {
  height: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.mainDiv {
  background-color: #121214;
  width: 18rem;
  height: 20rem;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
html .mainP {
  background-color: #121214;
  border: 2px solid #4664e8;
  color: white;
  font-size: 1.2rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}
.mainButton {
  background-color: #121214;
  border: 2px solid #4664e8;
  color: white;
  width: 8.2rem;
  font-size: 1.2rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 4px;
}
.mainButton:hover {
  background-color: #4664e8;
}
#mainR {
  background-color: #121214;
  border: 2px solid #4664e8;
  color: white;
  width: 8.2rem;
  font-size: 1rem;
  border-radius: 20px;
  padding: 5px;
}
#mainR:hover {
  border: 2px solid #162877;
}
html #mainInfor {
  color: white;
  font-size: 1.4rem;
}
html .mainP:hover {
  border: 2px solid #162877
}
/*########## MAIN IMGS ##########*/
#FrontEndMentorImg {
  background-size: cover;
  background-position: center;
}
#JacaScriptImg {
  background-size: cover;
  background-position: center;
}
#ReactImg {
  background-size: cover;
  background-position: center;
}

/*########## 404 ROUTER ##########*/
#Erro404 {
  margin-top: 70px;
  color: white;
  text-align: center;
}
#Erro404 p {
  font-size: 7rem;
}
