#ColorFlipperImg {
  background-size: cover;
}
#ContadorImg {
  background-size: cover;
  background-position: center;
}
#CarrosselImg {
  background-size: cover;
  background-position: center;
}
#BirthdayImg {
  background-size: cover;
}
